{% if admin.hasroute('pdf') and admin.id(object) %}
    <a class="sonata-action-element" href="{{ admin.generateObjectUrl('pdf', object) }}" target="_blank"><i class="fa fa-file-text"></i> PDF</a>
{% endif %}
