{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block navbar_title %}{{ 'admin.common.print' | trans({}, 'messages') }} {{ 'admin.presencemonitoring.title' | trans({}, 'messages') | lower }} {{ object.fullname }}{% endblock %}

{% block sonata_admin_content %}
    <div class="sonata-ba-form">
        <div class="sonata-ba-show">
            <div class="sonata-ba-view row">
                <div class="col-xs-3">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <div class="box-body table-responsive no-padding">
                                <div class="col-xs-12">
                                    {{ form(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if show_pdf_preview %}
                    <div class="col-xs-9">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <div class="box-body table-responsive no-padding">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
