{% if admin.isGranted('VIEW', object) and admin.hasRoute('pdf') %}
    <a target="_blank" href="{{ admin.generateObjectUrl('pdf', object) }}" class="btn btn-sm btn-default edit_link" title="PDF"><i class="fa fa-file-text"></i></a>
{% endif %}
