{% if admin.isGranted('VIEW', object) %}
    <a href="{{ path('admin_app_deliverynote_create', {for_work_order: object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'admin.workertimesheet.title_create' | trans }} {{ 'admin.deliverynote.title_new' | trans }}"><i class="fa fa-plus-circle"></i></a>
{% endif %}
