{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if object.manager is not null %}
            <a href="{{ path('admin_app_user_edit', {id: object.manager.id}) }}">
                {{ object.manager.lastname }}, {{ object.manager.firstname }}
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}
