{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        <div>
            {% if object.status == 0 %}
                <span class="label label-danger">{{ 'enum.audit_status.pending' | trans }}</span>
            {% elseif object.status == 1 %}
                <span class="label label-warning">{{ 'enum.audit_status.doing' | trans }}</span>
            {% elseif object.status == 2 %}
                <span class="label label-info">{{ 'enum.audit_status.done' | trans }}</span>
            {% elseif object.status == 3 %}
                <span class="label label-success">{{ 'enum.audit_status.invoiced' | trans }}</span>
            {% else %}
                ---
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
