{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% for blade in object.bladesStringsArray %}
        <span class="label label-default"{% if loop.index > 1%} style="margin-left:5px"{% endif %}>{{ blade | trans }}</span>
    {% endfor %}
{% endblock %}
