{% block audit_diagram_type_widget %}
    {% spaceless %}
        <ul class="list-inline">
            {% for child in form %}
                <li>
                    <img class="media-object" src="{{ asset('build/tubrine_diagrams/' ~ loop.index ~ '.jpg') | imagine_filter('200x146') }}" alt="...">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock %}
