{% extends "SonataAdminBundle:CRUD:base_edit.html.twig" %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit" | trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create" | trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block actions %}
    {{ parent() }}
    <li>{% include "::Admin/Buttons/Edit/show.html.twig" %}</li>
    <li>{% include "::Admin/Buttons/Edit/pdf.html.twig" %}</li>
    <li>{% include "::Admin/Buttons/Edit/email.html.twig" %}</li>
    <li>{% include "::Admin/Buttons/Edit/map.html.twig" %}</li>
{% endblock %}
