textarea { resize: vertical; }

#gmap {
    margin-top: 40px;
    height: 450px;
}

#profile_image {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
    margin-top: -6px;
}

.skin-black .main-header > .logo, .skin-black .main-header > .logo:hover {
    background-color: #1D1D1B;
}

.logo img {
    max-width: 100%;
}

.main-header .logo {
    width: 231px;
}

.dz-filename, .dz-size, .dropzone .dz-preview .dz-progress {
    display: none;
}
